<div class="col-md-11" style="margin-bottom:12px;">
        <div class="pull-right">
            <span><span style="color: steelblue;">Viewing Client :</span> <span class="color-gray">
                <g:editMessage code="client.${session.clientname}"/>
            </span></span> &nbsp;
            <img class=" bordered autoImage pull-right" src="${createLink(controller:'dashboard', action:'clientLogo')}" />
        </div>
</div>