<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" id="zakipoint" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     width="280px" height="280px" viewBox="0 0 485.459 485.605" enable-background="new 0 0 485.459 485.605"
     xml:space="preserve">
    %{--<g:if env="production">
        <a xlink:href="javascript:void(0)">
    </g:if><g:else>--}%
    <a xlink:href="${createLink(controller: 'programTracking',action: 'cohortComparison')}">
        %{--</g:else>--}%
        <g id="track">


            <path class="pathLink" fill="#A0C98A" d="M413.605,298.704C390.12,370.632,322.5,422.605,242.729,422.605c-50.726,0-96.535-21.021-129.214-54.818
                    L68.5,366.24l-1.341,44.242c44.2,46.286,106.517,75.123,175.57,75.123c106.13,0,196.337-68.12,229.32-163.017l-39.832,17.517
                    L413.605,298.704z" />
            <g class="pathText">
            <path fill="#FFFFFF" d="M157.017,449.745l9.038-21.938l-7.835-3.228l1.84-4.468l20.984,8.645l-1.84,4.467l-7.817-3.22
			l-9.038,21.939L157.017,449.745z"/>
            <path fill="#FFFFFF" d="M185.78,460.063l6.129-27.894l11.854,2.605c2.98,0.654,5.092,1.381,6.333,2.179
			c1.241,0.799,2.126,1.927,2.657,3.387c0.53,1.46,0.614,3.014,0.252,4.663c-0.46,2.093-1.456,3.686-2.985,4.779
			c-1.53,1.093-3.558,1.548-6.084,1.365c1.062,0.979,1.895,1.979,2.501,3.003c0.605,1.024,1.343,2.769,2.211,5.233l2.21,6.189
			l-6.736-1.479l-2.738-6.965c-0.969-2.486-1.659-4.071-2.067-4.753c-0.409-0.681-0.888-1.192-1.438-1.532
			c-0.55-0.341-1.472-0.652-2.766-0.938l-1.142-0.25l-2.559,11.645L185.78,460.063z M194.95,445.203l4.167,0.916
			c2.702,0.594,4.414,0.851,5.137,0.77c0.722-0.08,1.335-0.357,1.838-0.832s0.847-1.131,1.031-1.968
			c0.206-0.938,0.122-1.752-0.252-2.438c-0.375-0.688-1.001-1.208-1.881-1.561c-0.443-0.164-1.806-0.497-4.089-0.998l-4.396-0.966
			L194.95,445.203z"/>
            <path fill="#FFFFFF" d="M252.413,468.146l-6.27-0.208l-2.277-6.565l-11.41-0.377l-2.57,6.405l-6.114-0.202l12.061-28.176
			l6.094,0.201L252.413,468.146z M242.175,456.503l-3.583-10.723l-4.205,10.465L242.175,456.503z"/>
            <path fill="#FFFFFF" d="M284.7,453.91l5.792,0.926c-0.386,3.21-1.453,5.71-3.2,7.502c-1.748,1.791-4.138,2.914-7.169,3.367
			c-3.75,0.562-7.024-0.258-9.823-2.459c-2.798-2.201-4.529-5.523-5.195-9.968c-0.703-4.701-0.036-8.534,2.002-11.498
			c2.039-2.964,5.035-4.742,8.992-5.335c3.454-0.517,6.414,0.084,8.878,1.804c1.465,1.015,2.688,2.604,3.668,4.769l-5.443,2.194
			c-0.553-1.414-1.423-2.466-2.609-3.155s-2.537-0.92-4.053-0.693c-2.094,0.313-3.681,1.319-4.759,3.017
			c-1.079,1.698-1.366,4.229-0.862,7.595c0.534,3.571,1.557,6.019,3.068,7.341c1.511,1.324,3.294,1.832,5.35,1.524
			c1.516-0.228,2.747-0.904,3.694-2.03C283.979,457.683,284.535,456.05,284.7,453.91z"/>
            <path fill="#FFFFFF" d="M309.074,459.132l-9.348-26.986l5.449-1.887l4.15,11.983l6.857-15.797l7.326-2.537l-6.521,14.03
			l16.42,12.764l-7.05,2.442l-11.806-10.095l-2.855,6.04l2.825,8.154L309.074,459.132z"/>
        </g>
    </g>
    </a>


    <a xlink:href="javascript:void(0)">
    <g id="act">
        <path class="pathLink" fill="#853F93" d="M209.732,66.181c10.698-1.985,21.725-3.034,32.998-3.034c99.262,0,179.729,80.467,179.729,179.729
		c0,15.899-2.074,31.313-5.949,45.993l19.487,43.262l38.714-17.628c6.982-22.642,10.748-46.693,10.748-71.627
		c0-134.056-108.674-242.729-242.729-242.729c-17.603,0-34.761,1.891-51.3,5.45l39.659,22.914L209.732,66.181z"/>
        <g class="pathText">
            <path fill="#FFFFFF" d="M393.353,116.055l-4.398-4.473l2.877-6.326l-8.004-8.14l-6.278,2.868l-4.289-4.361l28.162-12.093
			l4.275,4.348L393.353,116.055z M393.964,100.563l4.797-10.236l-10.26,4.68L393.964,100.563z"/>
            <path fill="#FFFFFF" d="M419.245,134.402l1.637,5.632c-3.067,1.021-5.785,1.125-8.15,0.31c-2.367-0.815-4.402-2.497-6.106-5.043
			c-2.109-3.152-2.767-6.462-1.972-9.933s3.061-6.455,6.795-8.955c3.949-2.644,7.7-3.677,11.251-3.1s6.438,2.527,8.663,5.852
			c1.943,2.903,2.664,5.836,2.162,8.798c-0.293,1.758-1.208,3.543-2.746,5.354l-4.309-3.985c1.043-1.104,1.623-2.34,1.738-3.707
			c0.117-1.367-0.252-2.688-1.104-3.961c-1.178-1.759-2.765-2.764-4.76-3.014c-1.996-0.25-4.408,0.571-7.236,2.463
			c-3,2.009-4.776,3.979-5.327,5.91c-0.552,1.932-0.249,3.761,0.907,5.488c0.852,1.273,1.99,2.098,3.414,2.474
			C415.525,135.359,417.239,135.166,419.245,134.402z"/>
            <path fill="#FFFFFF" d="M422.388,162.631l21.74-9.506l-3.395-7.765l4.427-1.936l9.093,20.794l-4.427,1.936l-3.388-7.747
			l-21.74,9.506L422.388,162.631z"/>
        </g>
    </g>
        </a>

    <a  xlink:href="${createLink(controller: 'programTracking',action: 'explorer',params:[showInIdentity:'1'])}" title="Opportunity Explorer Page">
    <g id="identity">
        <path class="pathLink" fill="#204889" d="M107.167,360.878C79.661,329.306,63,288.037,63,242.876c0-84.896,58.865-156.033,138.003-174.849
		l21.419-37.85L182.358,7.718C77.51,34.555,0,129.662,0,242.876c0,61.771,23.087,118.143,61.087,160.986l1.929-44.536
		L107.167,360.878z"/>
        <g class="pathText">
            <path fill="#FFFFFF" d="M53.009,295.835l-27.57,7.449l-1.504-5.566l27.57-7.449L53.009,295.835z"/>
            <path fill="#FFFFFF" d="M19.86,279.934l-1.247-10.465c-0.281-2.36-0.314-4.181-0.101-5.462c0.292-1.722,0.993-3.25,2.102-4.586
			c1.11-1.335,2.534-2.421,4.272-3.255c1.738-0.835,3.936-1.411,6.592-1.728c2.334-0.277,4.381-0.228,6.139,0.151
			c2.148,0.464,3.938,1.277,5.372,2.44c1.085,0.878,2,2.13,2.743,3.754c0.55,1.217,0.951,2.882,1.203,4.997l1.284,10.774
			L19.86,279.934z M23.976,273.637l18.783-2.237l-0.509-4.275c-0.191-1.599-0.418-2.742-0.684-3.43
			c-0.343-0.901-0.828-1.625-1.455-2.172c-0.627-0.546-1.6-0.938-2.916-1.173c-1.316-0.235-3.07-0.223-5.263,0.038
			c-2.192,0.262-3.852,0.655-4.979,1.182c-1.127,0.527-1.979,1.178-2.553,1.952c-0.575,0.775-0.915,1.712-1.019,2.81
			c-0.085,0.821,0.011,2.398,0.289,4.732L23.976,273.637z"/>
            <path fill="#FFFFFF" d="M45.201,239.521l-28.504-1.767l1.31-21.135l4.822,0.299l-0.954,15.38l6.319,0.392l0.887-14.31l4.802,0.297
			l-0.887,14.311l7.758,0.481l0.987-15.924l4.802,0.298L45.201,239.521z"/>
            <path fill="#FFFFFF" d="M48.561,204.667l-27.708-6.922l1.36-5.443l21.336-6.718l-18.503-4.623l1.298-5.197l27.708,6.922
			l-1.402,5.613l-20.859,6.656l18.068,4.514L48.561,204.667z"/>
            <path fill="#FFFFFF" d="M61.607,163.191l-21.634-9.746l-3.481,7.726l-4.405-1.984l9.322-20.692l4.405,1.984l-3.473,7.708
			l21.634,9.747L61.607,163.191z"/>
            <path fill="#FFFFFF" d="M73.72,139.7L49.485,124.59l3.051-4.893l24.235,15.109L73.72,139.7z"/>
            <path xmlns="http://www.w3.org/2000/svg" fill="#FFFFFF" d="M84.735,123.033l-22.01-18.199l12.476-15.088l3.724,3.079l-8.801,10.645l5.209,4.308l7.597-9.188    l3.724,3.079l-7.598,9.188l9.354,7.734L84.735,123.033z"/>
            <path fill="#FFFFFF" d="M112.157,93.631l-7.826-9.123l-18.708-5.743l5.131-4.401l12.458,4.201l-2.359-12.863l5.042-4.325
			l2.824,19.419l7.8,9.094L112.157,93.631z"/>
        </g>
    </g>
    </a>


    <g id="centerLogo">
        <circle  fill="#FFFFFF" cx="242.7" cy="242.725" r="181.547"/>
        <g>
            <circle fill="#C4E1ED" cx="241.729" cy="242.204" r="166"/>
            <circle class="cFocus circle1" fill="#81A9CF" cx="241.729" cy="242.204" r="150.311"/>
            <circle fill="#C4E1ED" cx="241.729" cy="242.204" r="141.311"/>
            <path id="circle4" fill="#162751" d="M306.729,285.37c0,11.088-8.989,20.077-20.078,20.077h-89.845c-11.088,0-20.077-8.989-20.077-20.077
			v-86.332c0-11.089,8.989-20.078,20.077-20.078h89.845c11.089,0,20.078,8.989,20.078,20.078V285.37z"/>
            <path fill="#C4E1ED" d="M297.903,283.81c0,7.206-5.843,13.049-13.05,13.049h-86.565c-7.207,0-13.05-5.843-13.05-13.049v-83.52
			c0-7.207,5.843-13.051,13.05-13.051h86.565c7.207,0,13.05,5.844,13.05,13.051V283.81z"/>
            <g>
                <path  id="circle2"   fill="#162751" d="M277.396,267.476c-2.762,0-5.135,1.642-6.213,4h-56.908c-0.015-0.032-0.031-0.063-0.046-0.096
				l26.845-27.076c0.638,0.216,1.319,0.338,2.03,0.338c3.498,0,6.333-2.835,6.333-6.333c0-3.497-2.835-6.333-6.333-6.333
				s-6.333,2.836-6.333,6.333c0,1.226,0.354,2.365,0.957,3.335l-26.422,26.649c-0.965-0.521-2.069-0.817-3.242-0.817
				c-3.774,0-6.833,3.06-6.833,6.834c0,3.773,3.06,6.833,6.833,6.833c3.288,0,6.032-2.323,6.685-5.417h55.964
				c0.652,3.094,3.396,5.417,6.685,5.417c3.773,0,6.834-3.06,6.834-6.833C284.229,270.535,281.169,267.476,277.396,267.476z"/>
                <path  id="circle3"   fill="#162751" d="M209.729,245.143c3.774,0,6.833-3.06,6.833-6.833c0-0.366-0.037-0.723-0.093-1.074l54.543-26.758
				c0.188,0.213,0.387,0.413,0.6,0.602l-17.759,40.179c-0.21-0.021-0.423-0.032-0.638-0.032c-3.498,0-6.334,2.836-6.334,6.333
				c0,3.498,2.836,6.333,6.334,6.333s6.333-2.835,6.333-6.333c0-1.748-0.709-3.332-1.854-4.478l17.813-40.305
				c0.21,0.02,0.422,0.033,0.638,0.033c3.773,0,6.833-3.061,6.833-6.834s-3.06-6.834-6.833-6.834c-3.774,0-6.834,3.061-6.834,6.834
				c0,0.199,0.014,0.395,0.029,0.588l-54.807,26.889c-1.234-1.221-2.931-1.977-4.805-1.977c-3.774,0-6.833,3.06-6.833,6.834
				C202.896,242.083,205.955,245.143,209.729,245.143z"/>
            </g>
        </g>
    </g>
</svg>

<g:javascript>
    $(function(){
        var colors="";
        var colors1="";
        var prev;
        d3.selectAll(".pathLink").on("mouseenter", function() {
           /* d3.select("#track").transition().duration(2000).attrTween("transform", function(d, i, a) {
                return d3.interpolateString(a, 'scale(1)');
            });*/
            colors= d3.select(this).attr("fill");
            d3.select(this).attr("fill","#b53322")
        }).on("mouseleave", function() {
            d3.select(this).attr("fill",colors);
        });


        d3.selectAll(".pathText").on("mouseenter", function() {
            prev = d3.select(this.previousElementSibling)[0][0];
            colors1= d3.select(prev).attr("fill");
            d3.select(prev).attr("fill","#b53322")
        }).on("mouseleave", function() {
            d3.select(prev).attr("fill",colors1);
        });


       /* d3.select("#centerLogo").on("mouseenter", function() {

            d3.select("#circle2").attr("fill","#fff");
            d3.select("#circle3").attr("fill","#fff");
            d3.select("#circle4").attr("fill","#fff");
            d3.select(".cFocus").attr("fill","#fff");
        }).on("mouseleave", function() {
            //d3.select("#circle0").attr("fill","#FFFFFF");
            //d3.select("#circle1").attr("fill","#C4E1ED");
            //d3.select("#circle2").attr("fill","#81A9CF");
            //d3.select("#circle3").attr("fill","#C4E1ED");
            d3.select(".circle1").attr("fill","#81A9CF");
            d3.select("#circle2").attr("fill","#162751");
            d3.select("#circle3").attr("fill","#162751");
            d3.select("#circle4").attr("fill","#162751");
        });*/
    })

</g:javascript>