
/* ============================================================
  COMMON
============================================================ */
#wrapper {
    min-width: 600px;
}

.settings {
    display: table;
    width: 100%;
}
.settings .row {
    display: table-row;
}
.settings .question,
.settings .switch {
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
}
.settings .question {
    width: 600px;
    font-family: "Roboto Slab", serif;
    font-size: 10px;
}

/* ============================================================
  COMMON
============================================================ */
.cmn-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}
.cmn-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input.cmn-toggle-yes-no + label {
    /*padding: 2px;
    width: 120px;
    height: 60px;*/
    padding: 1px;
    width: 80px;
    height: 30px;
}
input.cmn-toggle-yes-no + label:before,
input.cmn-toggle-yes-no + label:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: #fff;
    font-family: "Roboto Slab", serif;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
}
input.cmn-toggle-yes-no + label:before {
    background-color: #dddddd;
    content: attr(data-off);
    transition: transform 0.5s;
    backface-visibility: hidden;
}
input.cmn-toggle-yes-no + label:after {
    background-color: #8ce196;
    content: attr(data-on);
    transition: transform 0.5s;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}
input.cmn-toggle-yes-no:checked + label:before {
    transform: rotateY(180deg);
}
input.cmn-toggle-yes-no:checked + label:after {
    transform: rotateY(0);
}