
div.tooltip {
    position: absolute;
    text-align: center;
    max-width: 150px;
    min-width: 50px;
    text-align: left; padding: 15px 5px;
    line-height: 24px;
    font: 12px sans-serif;
    background: #ffffff;
    /*background: lightsteelblue;*/
    /*border: 4px solid #c0c0c0;*/
    border-radius: 8px;
    pointer-events: none;
}



div.tooltip2 {
    position: absolute;
    text-align: center;
    max-width: 300px;
    min-width: 100px;
    text-align: left; padding: 5px 5px;
    line-height: 23px;
    font: 10px sans-serif;
    background: #ffffff;
    /*background: lightsteelblue;*/
    /*border: 1px solid white;*/
    border-radius: 5px;
    pointer-events: none;
    white-space: pre;
}

div.tooltip3 {
    position: absolute;
    text-align: center;
    max-width: 500px;
    min-width: 50px;
    text-align: left; padding: 5px 5px;
    line-height: 25px;
    font: 11px sans-serif;

    background: #ffffff;
    /*background: lightsteelblue;*/
    /*border: 2px solid #c0c0c0;*/
    border-radius: 5px;
    pointer-events: none;
    white-space: pre;
}

#lineGraphRTest{
    text-align: center;
    width: 150px;
    text-align: left; padding: 15px 5px;
    line-height: 24px;
    font: 12px sans-serif;
    background: #f7f7f7;
    border: 4px solid #c0c0c0;
    border-radius: 8px;
    pointer-events: none;
}
.labelTextDiff {
    font: 12px sans-serif;
    fill: red;
    font-weight: bold;
}
.labelTextDiffs {
    font: 12px sans-serif;
    fill: steelblue;
    font-weight: bold;
}


.labelText1 {
    font: 12px sans-serif;
    fill: red;
}
.labelText3 {
    font: 12px sans-serif;
    fill: steelblue;
}
.labelText4 {
    font: 12px sans-serif;
    fill: steelblue;
}

.actualLabel {
    font: 12px sans-serif;
    fill: #8c8c8c;
    font-style :italic;
    /*fill: #8c8c8c;*/
}

.labelText2 {
    font: 12px sans-serif;
    fill: red;
}
.formatOutput{
    font-weight: bold;;
}

.formatOutput0{
    color: red;
    opacity: 1;
}
.formatOutput1{
    color: #8c8c8c;
    opacity: 1;
}

.formatOutput4{
    color: #FF9B2B;
    opacity: 1;
}
.formatOutput2{
    color: #01A46D;
    opacity: 1;
}
.formatOutput3{
    /*color: steelblue;*/
    /*opacity: 1;*/
    font-size: 13px;
}


.formatTime{
    color: #000000;
    font-size: 10px;
}
#graph1 {
    font: 12px sans-serif;
}

.x.axis.funnel path {

    fill: none;
    display: none;
}


.axis path,
.axis line {

fill: none;
stroke: #ccc;

shape-rendering: crispEdges;

/*shape-rendering: geometricPrecision;*/


}
.x.axis text{
    font: 11px sans-serif;
}

.xaxisLeft2 path{
    display: none;
}

.y.axis.yaxisLeft path{
    /*display: none;*/
}
.y.axis.yaxisLeft g:first-child {
    /*display: none;*/
}


/*


.x.axis path {

display: none;

}*/

/*
.line {

/*stroke: black;*//*

    */
/*fill: none;*//*

    */
/*stroke-width: 0.75px;*//*

}


.line.line0 {
    */
/*fill: none;*//*

    */
/*stroke: url(#line-gradient);*//*

    */
/*stroke-width: 1.2px;*//*

}
.line.line0 {
    */
/*stroke: red;*//*

    */
/*stroke-width: 1.2px;*//*

}

.line.line1 {

    */
/*stroke: gray;*//*

    */
/*stroke-width: 1.2px;*//*

}

*/
/*.overlay {
    fill: none;
    pointer-events: all;
}*//*



.yaxisLeft .tick{
    stroke-dasharray: 3 3;
    opacity: .5;
}
*/


.focus circle {
    fill: none;
}

.focus circle.y0 {
    fill: red;
}

circle.y0 {
    fill: red;

}
circle.y00 {
    fill: steelblue;
}
circle.y2 {
    opacity: .7;
    shape-rendering:"optimizeSpeed";
}
circle.y2-hover {
    opacity: 1;
    shape-rendering:"optimizeSpeed";
}
circle.y1 {
    fill: gray;
}

.focus circle.y1 {
    fill: gray;
}

.focus line {
    stroke: purple;
    shape-rendering: crispEdges;
}


.focus line.x {
    stroke: gray;
    stroke-width: 1.3px;
    stroke-dasharray: 3 3;
    opacity: .5;
}
.focus line.y0 {
    stroke: steelblue;
    stroke-dasharray: 3 3;
    opacity: .5;
}

.focus line.y1 {
    stroke: indianred;
    stroke-dasharray: 3 3;
    opacity: .5;
}

.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}
svg{
    cursor: pointer;
}
