/*.line {
    fill: none;
    stroke: url(#line-gradient);
    stroke-width: 2px;
}
.line2 {
    fill: none;
    stroke: url(#line-gradient2);
    stroke-width: 2px;
}*/

/*.line {
    fill: none;
    stroke: url(#line-gradient2);
    stroke-width: 2px;
}*/

.line {
    fill: none;
    stroke: red;
    /*stroke-width: 1.3px;*/
}

.line1 {
    fill: none;
    stroke: #01A46D;
    /*stroke-width: 1.3px;*/
}

.line3{
    fill: none;
    stroke:gray ;
    /*stroke-width: 1.3px;*/
}

.lineb {
    fill: none;
    stroke: gray;
    /*stroke-width: 1.3px;*/
}
