/* CSS Document */
body{font-family:Arial, Helvetica, sans-serif; font-size:13px; line-height:22px; color:#3c3835;background:#fff;}
*:focus{text-decoration: none;}
a{color:#044f96;text-decoration:none;}
a:hover{color:#b53322; text-decoration:none;}
a:focus{outline:none;}
.loginHeader{background:#f8f8f8; border-bottom:1px solid #e7e7e7; padding:10px;}
.loginForm{width:650px; float:right; margin-top:15%;}
.login-logo{float:left; width:100px;}
.login-logo img{ margin-top:5px;}
.the-form{float:left; margin-left:25px;}
.form-row{display:block; margin-bottom:25px;}
.form-row label{ float:left; width:75px; text-align:center; font-weight:bold; display:inline-block; margin-right:15px; display:block;margin-bottom:5px;}
.form-row input[type='text'], .form-row input[type='password']{float:left; width:350px; display:inline-block; border:none; background:#fff; border:1px solid #ccc; padding:10px; color:#999; border-radius:4px;}
.login-btn{background:#fff; border:1px solid #ccc; padding:10px 15px; color:#3c3835; font-size:16px; border-radius:4px;-moz-border-radius:5px;-webkit-border-radius: 5px;-border-radius: 5px;}
.login-btn:hover{background:#ccc;}
a.btn-forgotpwd{background:#f0ad4e; border:1px solid #efa236; padding:10px 15px; color:#fff; font-size:16px; border-radius:4px;-moz-border-radius:5px;-webkit-border-radius: 5px;-border-radius: 5px;}
a.btn-forgotpwd:hover{background:#efa236;-moz-border-radius:5px;-webkit-border-radius: 5px;-border-radius: 5px;}

/* Typography */
h1{font-size:14px; margin:0 0 10px 0; padding:0; text-transform:uppercase;}
h2{font-size:34px; margin:0 0 10px 0; padding:0;}
h3{font-size:21px; margin:0 0 10px 0; padding:0;}
h4{font-size:16px; margin:0 0 10px 0; padding:0;}
.hr-bg{background:url(../images/hr-bg.png) repeat-x left center;}
.hr-bg span{display:inline-block; padding:0 15px; background:#fff; color:#606060; text-transform:none;}
a.text-link-upper{text-transform:uppercase; font-weight:bold; font-size:12px; display:inline-block;}
a.btn-link-upper{display:inline-block; background:#044f96; color:#fff; text-transform:uppercase; padding:4px 15px; font-size:11px; font-weight:bold;}
a.btn-link-upper:hover{background:#b53322;}

a.btn-link-normal{display:inline-block; background:#044f96; color:#fff; text-transform:none; padding:4px 15px; font-size:11px; font-weight:bold;}
a.btn-link-normal:hover{background:#b53322;}

a.btn-link-gray{display:inline-block; background:#666; color:#fff; text-transform:uppercase; padding:10px 20px; font-size:12px; font-weight:bold;-moz-border-radius:5px;-webkit-border-radius: 5px;-border-radius: 5px;}
a.btn-link-gray:hover{background:#b53322;}

.color-black{color:#3c3835 !important;}
.color-blue{color:#044f96 !important;}
.color-red{color:#b53322 !important;}
.color-gray{color:#666 !important;}
.color-green{color:#01A46D !important;}
.color-orange{color:#FF9B2B !important;}


a.btn-blue{background:#034f96; display:block; text-align:center;-moz-border-radius:5px;-webkit-border-radius: 5px; border-radius: 5px;}
a.btn-light-blue{background:#84b3de; display:block; text-align:center;-moz-border-radius:5px;-webkit-border-radius: 5px; border-radius: 5px;}
a.btn-gray{background:#bcc6be; display:block; text-align:center;-moz-border-radius:5px;-webkit-border-radius: 5px; border-radius: 5px;}
a.btn-inline{display: inline-block;-moz-border-radius:5px;-webkit-border-radius: 5px; border-radius: 5px;}

/* Layouting */
html, body{height:100%; display:block;}
.mainWrapper{min-height:100%; position:relative;}
.headerWrapper{ background:#f9f9f9; margin-bottom:15px; box-shadow:1px 1px 1px #ddd; border-bottom:1px solid #f2f2f2;}
.contentWrapper{padding-bottom:80px; padding-top: 15px; position: relative;}
.contentWrapper .container{}
.footerWrapper{ position:absolute; bottom:0; width:100%; background:#f9f9f9; box-shadow:1px -1px 1px #ddd; border-top:1px solid #f2f2f2; text-align:center; padding:10px 0; color:#666;}
.privacy-terms{position: absolute; left: 0;}
.privacy-terms a{display: inline-block; margin-right: 25px;}

.logo{ display:inline-block; padding:15px 0;}
.white-box{background:#fff; border-radius:4px; margin-bottom:15px;}

.headerWrapper{font-size:14px;}
.headerWrapper a{color:#263472;}
.headerWrapper a:hover, .headerWrapper a:focus{color:#044f96; text-decoration: none; }
ul.main-menu{ list-style:none; margin:25px 0 0 0; padding:0; text-transform:uppercase;z-index:999999;}
ul.main-menu li{float:left; margin-right:15px;}

ul.user-stat{list-style:none; margin:25px 0 0 0; padding:0;}
ul.user-stat li{float:left; margin-left:20px;}


.height-tilde{min-height:230px;}
.cost-blocks{margin-bottom:15px; background:#f2f2f2; padding:15px; border-radius:4px; text-align:center;}
.heading-image{text-align:center;}

.graph-label{font-size:28px;}
.graph-label span{font-size:13px; position:relative; top:-4px;}

.box-blue{background:#e5f0fb; padding:15px; min-height:235px;}
.box-red{background:#f3eaec; padding:15px; min-height:235px;}
.box-gray{background:#ccc; padding:15px; min-height:235px;}

.text-itallic{font-style:italic;}
.inline-links{line-height:30px; font-weight:bold;}
.inline-links h3{margin:20px 0;}
.inline-links a:hover{text-decoration:underline;}
.bordered{background:#fff; border:1px solid #ccc; padding:1px;}

img.heading-icon{width:35px; margin-right:10px;}

ul.bulb-lists{list-style:none; margin:15px 0; padding:0;}
ul.bulb-lists li{display:block; margin-bottom:10px; position: relative; padding-right: 200px; min-height: 35px; clear: both;}
ul.bulb-lists li .fa{margin:5px 15px 35px 0; float:left;}
ul.bulb-lists li a.btn-blue{position: absolute;right:0; top: 0; display: inline-block;}
ul.bulb-lists li.disabled{color: #666;}
a.disabled{background: #666 !important;}
ul.bulb-lists li.disabled a.btn-blue, ul.bulb-lists li.disabled a.btn-blue:hover{background: #999;}

/* Table */
.floatThead-wrapper{z-index: 1;}
.z5-table{border: 1px solid #ccc; border-radius: 5px;}
.z5-table{min-height:100px;max-height:360px; overflow:auto;}
.z5-table table{border-collapse:collapse; font-size:14px;}
.z5-table table th{padding:4px; text-align:center; font-weight:normal; text-transform: none;background: #e9e9e9;border:1px solid #dddddd;}
.z5-table table td{ padding:4px; font-size: 12px;}
.z5-table table th.text-left, .z5-table table td.text-left{text-align:left;}
.z5-table table th.text-right, .z5-table table td.text-right{text-align:right;}
table.z5-fixed-header thead th {background:#e9e9e9; font-weight: normal; padding: 4px;border:1px solid #dddddd; font-size: 15px !important;}

.put-border table th{border:1px solid #dddddd;}
.put-border table td{border:1px solid #dddddd;}

.z5-table table tr:nth-child(even) td{background: #eaf4ff}

.z5-table table tr:hover td{background:rgba(4,79,150,0.2) !important;}

.z5-pagination{border-top:1px solid rgba(4,79,150,0.5); padding:10px 0; font-size:14px; margin: 15px 0;}
.z5-pagination .showing{float:left;}
.z5-pagination .page-no{ float:right;}
.z5-pagination .page-no .fa{font-size:12px; font-weight:normal;}
.z5-pagination .page-no span{display:inline-block; padding:0 8px; border:1px solid rgba(4,79,150,0.5);}
.z5-pagination a{display: inline-block; padding: 2px 5px;}
.z5-pagination select{padding: 2px; border: 1px solid #ccc;}

.z5-table table tr.z5-row-0 td{background: #eaf4ff;}
.z5-table table tr.z5-row-1 td{background: #f2f2f2;}
.z5-table table tr.z5-row-2 td{background: #fff;}
.row-highlight{background: #034f96 !important;}
/*.z5-table table tr.innerData td{background: #fff;}*/


a.switch-edit-mode{float:right; background: #044f96; color:#fff; padding: 2px 4px; border-radius: 2px;}
.graph1{width:700px; float:left;}
.graph1-label{width: auto; float:left; margin-top: 25px;}

span.label-title{font-size: 12px; text-transform: uppercase; display: block; margin-bottom: 10px; position: relative; top:-5px;}
span.label-value{font-size: 28px;}
span.label-unit{text-transform: uppercase; position: relative; top: -8px; font-size: 12px; padding-left: 2px;}
.graph1-label{position: relative; padding-left: 35px;}
.graph1-label .legend{position: absolute; left: 0; width: 25px; margin-top: 10px;}
.legend-red, .legend-gray, .legend-blue{height: 5px; line-height: 2px; font-size: 1px;}
.legend-red{background:#ff0000;}
.legend-blue{background:#044f96;}
.legend-gray{background:#ccc;}


.border-tb{border-top:1px solid #ccc; border-bottom:1px solid #ccc; padding:15px 0; margin:25px 0;}

ul.number-list{ margin:0; padding:0;}
ul.number-list li{ padding-left:25px; margin-bottom:10px; list-style:none; position:relative;}
ul.number-list li span.num{ position:absolute; left:0; top:0; font-weight:bold; font-size:16px; display:inline-block;}
.photo{background:#ccc; padding:10px; text-align:center;}
a.inline-block{display:inline-block;}
.iconExplorePopulation img{width: 28px;}
.iconExploreEntirePopulation img{width:20px; margin-right:5px; position: relative; top: -3px;}
.iconExportCSV img{width: 13px; margin-right:5px; margin-left: 15px; position: relative; top: -3px;}

.has-filter{padding-bottom: 15px; color:rgba(4,79,150,1);}
.has-filter .multiselect{padding:0 5px !important; border-radius: 2px !important; font-size: 12px; color: steelblue; width: 150px; text-align: left; margin-right: 15px;}
.has-filter .dropdown-menu>li>a{font-size: 11px; color: steelblue !important;}
.has-filter .dropdown-menu>.active>a{background: none !important;}
.has-filter select, .has-filter button{width: 150px;}
.has-filter select{border: 1px solid #ccc; padding:2px; border-radius: 4px; font-size: 12px;}
.has-filter .fa{position: relative; top: 1px;}
.multiselect-container{z-index: 99999;}

.disSelect{color: #ccc !important;}


a.desc{background:url(../images/arrow-down.png) no-repeat right top; display: block;  padding-right: 20px;}
a.asc{background:url(../images/arrow-up.png) no-repeat right top; display: block;  padding-right: 20px;}

a.desc-disabled{background:url(../images/arrow-down-disabled.png) no-repeat right top; display: block;  padding-right: 20px;}
a.asc-disabled{background:url(../images/arrow-up-disabled.png) no-repeat right top; display: block;  padding-right: 20px;}


.btn b.caret{color:#111 !important; position: relative !important; top:5px; float: right;}
.close{opacity: 0.5;  top: -17px; position: relative; right: -13px;}

.search-right{padding-right: 0 !important;}
.search-right .token-input-list{float: right;}
ul.token-input-list{font-size: 11px; height: 20px !important; line-height: 14px;}
ul.token-input-list li{font-size: 11px;}
.er-data{text-align: center; }
.er-count{ font-size: 28px;font-weight: bold; }
.er-count-label{font-size: 12px; text-transform: uppercase; color: #999;}

.er-visit-percent-wrapper{margin: 40px auto; width: 600px;}
.er-visit-percent{text-align: center; font-weight: bold; font-size: 24px; color:#b53322;}
.er-visit-percent-label{text-align: center; color:#b53322;text-transform: uppercase;}
.top-condition table th{border:none !important; text-transform: none !important;}
.top-condition table tr:hover{background: none !important;}
.border-left{border-left: 1px solid #ccc; padding-left: 25px;}

.sp-drug-table table th, .sp-drug-table table td{text-align: left !important; vertical-align: top !important;}
.sp-drug-table table tr.bold-large-th th{font-weight: bold; font-size: 18px;}
.sp-drug-table table tr:hover{background: none !important;}

.normal-table table{border-collapse: collapse; border: 1px solid #dddddd; border-radius: 5px;}
.normal-table table td{padding: 5px; border-collapse: collapse; border: 1px solid #dddddd;}
.normal-table table th{padding: 5px; border-collapse: collapse; background: #e9e9e9; border: 1px solid #dddddd;}
.normal-table tr:nth-child(even) {background:#f7f7f7}

/* Bootstrap Override */
.container{width:1200px;}
.btn{padding: 4px 12px;}
.btn-primary {background:#1c3664; border:1px solid #101530;-moz-border-radius:5px;-webkit-border-radius: 5px;-border-radius: 5px;}
.btn-password {background: #08c;-moz-border-radius:5px;-webkit-border-radius: 5px;-border-radius: 5px;}
.btn-primary:hover{background:#b53322; border:1px solid #9a2c1f;}
.btn-gray:hover{background:#fff; border:1px solid #000;}

/* Fixers */
.clearfix{clear:both;}
.txt-right{text-align:right;}
.txt-bold{font-weight: bold; font-size: 14px;}
.f-right{float:right;}
.f-left{float:left;}
.m15{margin:15px;}
.m150{margin:15px 0;}
.m015{margin:0 15px;}
.mt25{margin-top:25px;}
.mt35{margin-top:35px;}
.mb15{margin-bottom:15px !important;}
.mt15{margin-top:15px !important;}
.mb5{margin-bottom: 5px;}
.mb10{margin-bottom: 10px;}
.mb25{margin-bottom:25px;}
.mb35{margin-bottom:35px;}
.mb0{margin-bottom: 0;}
.ml25{margin-left: 25px;}
.mrr0{margin-right: 0 !important;}
.mr15{margin-right: 15px;}
.mr25{margin-right: 25px;}
.p0{padding:0;}
.p15{padding:15px;}
.p150{padding:15px 0;}
.p015{padding:0 15px;}
.pt15{padding-top:15px;}
.pt25{padding-top:25px;}
.pb15{padding-bottom:15px;}
.pb10{padding-bottom: 10px;}
.pb5{padding-bottom: 5px;}
.border-lr{border-left:1px solid #ccc; border-right:1px solid #ccc;}
.border-r{border-right:1px solid #ccc;}
.border-l{border-left:1px solid #ccc;}
.border-l-graph{position: relative;}
.border-l-graph:before {
    content:"";
    position: absolute;
    z-index: -1;
    top: -5px;
    bottom: -12px;
    left: 5px ;
    border-left: 1px solid #ccc;
}

.border-b{border-bottom:1px solid #ccc;}
.border-t{border-top:1px solid #ccc;}
.iconRmargin{margin-right:5px;}
.iconLRmargin{margin-right:5px; margin-left:5px;}
/*.topChronicConditionEr{margin-right: 15px;}*/
.noWrap{white-space: nowrap;}
.no-pad-right{padding-right: unset !important;}

.fa-chevron-right:hover{cursor: pointer;}
.not-active{pointer-events: none;cursor:default;opacity:.6;}

/*img{filter:blur(20px);}*/

.bdr-right{border-right:1px solid #ccc; margin-bottom: 15px;}
.hr{border-bottom:1px solid #ccc;}
.sep-border{border-bottom:1px solid #ccc; margin:0 15px 15px 15px;}

.bdr-right-dashed{border-right:2px dashed #ccc;}
.hr-dashed{border-bottom:2px dashed #ccc;}
.sep-border-dashed{border-bottom:2px dashed #ccc; margin:0 15px 15px 15px;}

.no-pad-l{padding-left: 0 !important;}
.no-pad-r{padding-right: 0 !important;}

/*.not-active-edit{opacity:.6;}*/


table.gapInCareTable  tr:nth-child(even) {background:#e7eceb}
table.gapInCareTable  tr:nth-child(odd) {background: #e5f0fb }
table.gapInCareTable  tr:hover{background:#f3eaec;}
/*table.hiddenTable {background: #e5f0fb }*/

#galleryImages{
    display: block;
    position:fixed;
    width:100%;
    height: 100%;
    top:0px;
    left:0px;
    z-index: 9998;
    background-color:#111;
    opacity: 0.50;
    filter:alpha(opacity=50);
    text-align: center;
}
#galleryImages img{
    position: absolute;
    top: 45%;
}
#galleryImages1{
    display: block;
    position:fixed;
    width:100%;
    height: 100%;
    top:0px;
    left:0px;
    z-index: 9998;
    background-color:#111;
    opacity: 0.50;
    filter:alpha(opacity=50);
    text-align: center;
}
#galleryImages1 img{
    position: absolute;
    top: 45%;
}

#primary_nav_wrap
{
    margin-top:20px

}



#primary_nav_wrap ul
{
    list-style:none;
    position:relative;
    float:right;
    margin:0;
    padding:3px 5px;
    background: #263472;
    color: #fff;
    border-radius: 5px;
}

#primary_nav_wrap ul a
{
    text-decoration:none;
    line-height:25px;
    padding:0 25px 0 5px;
    position: relative;
    display: block;
    color: #fff;
    font-size: 13px;

}

#primary_nav_wrap .dropMain > a:after {
    content: "\f078";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    right: 5px;
    top: 0px;
    color: #fff;
    font-size: 11px;

}

#primary_nav_wrap ul li
{
    position:relative;
    float:left;
    margin:0;
    padding:0;
    z-index: 2;
}


#primary_nav_wrap ul li.current-menu-item
{
    background:#ddd
}

#primary_nav_wrap ul ul>li a:hover
{

}

#primary_nav_wrap ul li
{

}
#primary_nav_wrap ul li:first-child { }



#primary_nav_wrap ul ul{
    display:none;
    position:absolute;
    top:25px;
    left:-5px;
    background:#fff;
    padding:5px;
    border: 1px solid #263472;
    border-radius: 0 5px 5px 5px;
    font-size: 13px;
}

#primary_nav_wrap ul ul li
{
    float:none;
    width:175px
}

#primary_nav_wrap ul ul ul>li
{
    float:none;
    width:100px
}

#primary_nav_wrap ul ul a
{
    padding:3px 5px;
    color:#263472;
    border-bottom: 1px solid #e9e9e9;
}

#primary_nav_wrap ul li ul li:last-child a{border: none; }

#primary_nav_wrap ul ul a:hover{
    color: #111;
    background: #e9e9e9;
}
#primary_nav_wrap ul ul ul
{
    top:0;
    left:100%
}

#primary_nav_wrap ul li:hover > ul
{
    display:block !important;

}

.active{
    background: lightskyblue;
}

.client-logo-adjustment {
    max-width: 150px;
    margin-top: -15px;
}
.cohort-table tbody tr td{
    padding: 5px 5px 10px 5px !important;

}

.brand-logo-adjustment {
    width: 265px;
    height:40px;
    background-repeat:no-repeat;
}

.autoImage {
    /*display: block;*/
    /*max-width:25px;*/
    max-height:25px;
    width: auto;
    height: auto;
}
.autoImageDash {
    /*display: block;*/
    /*max-width:25px;*/
    min-height:88px;
    width: auto;
    height: auto;
}

.ptImage {
    /*display: block;*/
    /*max-width:25px;*/
    /*max-height:25px;*/
    width: 1200px;
    height: auto;
}

.data-grid, .form-grid{margin: 0; border-collapse: collapse; width: auto; float: left;}
.data-grid td, .data-grid th{ border-collapse: collapse;  padding: 4px;}
.data-grid th{padding:8px 4px; text-align: left;}
.data-grid tr:nth-child(even) { background-color: #f2f2f2;}
.form-grid td {border-collapse: collapse; padding: 4px;}
/*.form-grid tr:nth-child(even) { background-color: #f2f2f2;}*/
.form-grid label{ color:#cc0000;display: block;}

.formatTime{color:blue;font-weight: bold;}

.boldHead{font-size: 20px;color: darkgray;margin-bottom: 25px;}
/*.boldBody{font-size: 20px;color: rgb(12,89,207); margin-bottom: 45px;}*/
.boldBody{font-size: 20px;color: #044f96; margin-bottom: 45px;}
.textBlue{color: #044f96;}
.textGray{font-size: 20px;color: rgba(0,0,0,0.5);}

.boldSpan{font-size: 15px;color: black;font-weight: bold;}
.tableHead{font-size: 15px;color: black;font-weight: bold;}
.boldSpan1{font-size: 14px;color: rgba(0,0,0,0.8);}
.boldInnerDetails{font-size: 12px;color: black;}

.client-box-wrapper{position: relative;}
.client-box{position: absolute; right: 15px; top:100px;}
.has-clientbox{right: 75px;}
select.clientSelect{padding:0 2px; border-radius: 5px; border: 1px solid #ccc; height: 31px;}


.innerData {
    background-color:#f2f2f2;;
}

/* Modal */
.modal-dialog{width: 700px;}

a.see-dtl-utilization{margin-top: 10px; display: inline-block; font-size: 12px; text-decoration: none; display: inline-block; padding: 4px 10px; border-radius: 5px; background: rgba(4,79,150,0.001); cursor: pointer; }
a.see-dtl-utilization:hover{ background: rgba(4,79,150,0.5); color: rgba(4,79,150,1);}

.graph-table table{border-collapse: collapse;}
.graph-table table td{padding: 4px;}
.has-checkbox{ color:#044f96; padding-right: 10px;}
.has-checkbox input[type='checkbox']{position: relative; top:3px;}
.graph-label{font: 12px sans-serif;}
.slider .tooltip.top{    margin-top: -30px !important;}
.slider-tick-label{   font: 14px sans-serif !important;}

/* reporting-detail-wrapper */
.reporting-detail-wrapper{background: rgba(4,79,150,0.1); padding: 15px; border-bottom: 2px solid rgba(4,79,150,0.2);color:rgba(4,79,150,1); border-radius: 5px; margin-bottom: 35px;}
a.reporting-detail-toggle{background: rgba(4,79,150,0.8); padding: 4px 9px; line-height: 23px; color: #fff; display:inline-block; border-radius: 5px; font-size: 12px; font-weight: bold;}
a.reporting-detail-toggle:hover, a.reporting-detail-toggle:focus{background: rgba(4,79,150,1); color: #fff; text-decoration: none;}
a.toggle-expanded{padding: 1px 8px; margin-left: 5px; float: right;}
a.reporting-detail-toggle .fa{font-size: 11px;}
img.profile-img{background: #fff; padding: 2px; border:1px solid rgba(4,79,150,0.2); margin-left: 5px;}
.reporting-detail-wrapper table td.report-label{font-weight: bold; text-align: left; font-size: 12px; padding-right: 10px;}
td.viewing-sep{border-left: 1px solid rgba(4,79,150,0.2); color: #444; font-weight: bold; padding-left: 15px;}

select.disable-focus{width: 0px;border: 0;background: none; font-size: 14px; position: relative; top: 8px;}
select.disable-focus:focus{outline: 0;}
select.disable-focus:-moz-focusring {color: transparent; text-shadow: 0 0 0 #000;}
.selected-title{font-size: 28px; position: relative; left: -10px; top: 4px; }
span.select-arrow{position: relative; font-size: 18px; top: 1px;}
span.select-arrow:hover{cursor: pointer;}
.graph-label-box{min-height: 32px;}

.double-arrow-back-top-container{position: relative}
.double-arrow-back-top{position: absolute; left: 15px; top:-35px; z-index: 9999;}
.double-arrow-left{position: relative; padding-left:15px;}
.double-arrow-left:before{position: absolute; top: -1px; left: 0; content: "\f100"; font-family: FontAwesome; font-size: 12px; color:rgba(4,79,150,1);}

.custom-tooltip + .tooltip > .tooltip-arrow {border-bottom: 5px solid #cc0000; border-bottom-color:#cc0000; }
.custom-tooltip + .tooltip > .tooltip-inner {
    background-color: #cc0000;
    border: 1px solid #cc0000;
    color: #fff;
    font-weight: bold;
}
.sub-title{font-size: 14px;color:#666}
.dropdown-menu>li>span{display: block;padding: 3px 20px;clear: both;font-weight: 400;line-height: 1.42857143;white-space: nowrap;cursor: pointer;}
.chrc_1001:hover{background-color: rgba(220, 57, 18, 0.7);color:#fff;}
.chrc_1002:hover{background-color:rgba(255, 153, 0, 0.7) ;color:#fff;}
.chrc_1003:hover{background-color: rgba(16, 150, 24, 0.7);color:#fff;}
.chrc_1004:hover{background-color: rgba(153, 0, 153, 0.7);color:#fff;}
.chrc_1005:hover{background-color: rgba(0, 153, 198, 0.7);color:#fff;}
.chrc_1006:hover{background-color: rgba(102, 170, 0, 0.7);color:#fff;}
.chrc_1007:hover{background-color: rgba(184, 46, 46, 0.7);color:#fff;}
.chrc_1008:hover{background-color: rgba(49, 99, 149, 0.7);color:#fff;}
.chrc_1009:hover{background-color: rgba(221, 68, 119, 0.7);color:#fff;}
.chrc_1010:hover{background-color: rgba(153, 68, 153, 0.7);color:#fff;}
.chrc_1011:hover{background-color: rgba(34, 170, 153, 0.7);color:#fff;}
.chrc_1012:hover{background-color: rgba(170, 170, 17, 0.7);color:#fff;}
.chrc_1013:hover{background-color: rgba(230, 115, 0, 0.7);color:#fff;}
.chrc_1014:hover{background-color: rgba(102, 51, 204, 0.7);color:#fff;}
.chrc_1015:hover{background-color: rgba(139, 7, 7, 0.7);color:#fff;}
.chrc_1016:hover{background-color: rgba(101, 36, 17, 0.7);color:#fff;}
.chrc_1017:hover{background-color: rgba(50, 146, 98, 0.7);color:#fff;}
.chrc_1018:hover{background-color: rgba(85, 116, 166, 0.7);color:#fff;}
.chrc_1019:hover{background-color: rgba(59, 62, 172, 0.7);color:#fff;}
.chrc_1020:hover{background-color: rgba(31, 119, 180, 0.7);color:#fff;}
.chrc_1021:hover{background-color: rgba(255, 167, 113, 0.7);color:#fff;}
.chrc_1022:hover{background-color: rgba(201, 105, 205, 0.7);color:#fff;}
.chrc_1023:hover{background-color: rgba(94, 10, 44, 0.7);color:#fff;}
.chrc_1024:hover{background-color: rgba(180, 1, 200, 0.7);color:#fff;}
.chrc_0000:hover{background-color: rgba(70, 130, 180, 0.7);color:#fff;}

table.z5-graph-table{border-collapse: collapse;}
table.z5-graph-table td{border-collapse: collapse; padding:10px 5px;}


.demographics {
    position: relative;
    height:20px;
    width:100px;
}


.demographics > div.dataNeutral,.demographics > div.dataBelowBm,.demographics > div.dataAboveBm {
    position: absolute;
    height: 14px;
    margin-top: 3px;
}

.demographics > div.dataBelowBm {
    background-color: #009900;
}

.demographics > div.dataNeutral {
    background-color: #023563;
}


.demographics > div.dataAboveBm {
    background-color: #cc0000;
}



.demographics > div.benchmark1 {

    position: absolute;
    height : 23px;
    bottom: -1px;
    border-right: 1px dotted #009900;

}

.demographics > div.benchmark2{

    position: absolute;
    height : 24px;
    top: -2px;
    border-right: 1px dotted #cc0000;
}

.demographics > div.benchmark1:before{
    position: absolute;
    right: -4px;
    top:-10px;
    content:'\f0d7';
    font-family:'fontAwesome';
    font-size: 12px;
    color: #009900;
}

.demographics > div.benchmark2:after{
    position: absolute;
    right: -4px;
    top:18px;
    content:'\f0d8';
    font-family:'fontAwesome';
    font-size: 12px;
    color: #cc0000;
}

.bdr-r{border-right: 1px solid #d9d9d9; padding-right:5px;}
.bdr-l{border-left: 1px solid #d9d9d9;}
.bdr-b{border-bottom: 1px solid #d9d9d9; padding-bottom: 15px;}
.hbar-label{
    float: left;
    border-left: 1px solid black;
    height: 3px;

}

.z5-graph-table thead tr th{
    background-color: #fff;
    border: 1px solid #fff;
    /*border: 1px solid #e9e9e9;*/
}
.tooltip-table td{ padding:2px;font-size: 10px; }

#shareit-box {
    position:absolute;
    display:none;
    z-index: 100;
}

#shareit-header {
    width:138px;
}


#shareit-body {
    /*width:370px; height:216px;*/
    width:292px; height:170px;
    /*background:url(../images/share.png)*/
    background:url(../images/tool-tip1.png)
}

#shareit-blank {
    height:36px;
}

#shareit-url {
    height:50px;
    text-align:center;
}

#shareit-url input.field{
    width:100px; height:26px;
    border:none; outline:none;
    padding:7px 5px 0 5px;
    margin:3px auto;font-size:11px;
}

.slider.slider-horizontal{
    margin-bottom: 20px;
}



.slider-tick-label{
    color:#000;
}

.toolBody{
    text-align:center;color:#000;
}
.tooltip-label{
    /*float: left;*/
    /*margin-top: -5px;*/
    margin-left: 10px;
    padding-left: 5px;
}
.same-width-td{
    text-align: center;
    margin-left: 4px;
}
.modal.fade.in{z-index: 9999;}
.drill-enabled{cursor: pointer;}
a{cursor: pointer;}

#lineGraphRtitle{
    min-height: 45px !important;
}
#lineGraph1title{
    min-height: 45px !important;
}

div.tooltip.tooltip-main{
    background: none !important;
}
.watermark {
    font-size:14px;
    opacity: 0.4;
    bottom: 0;
    right: 0;
    color: red;
}

.cohort-info{font-size:11px !important; font-weight:normal;font-style: italic;}

.cohort-0{background-color: #eaf4ff !important;}
.cohort-1{background-color: #e9e9e9 !important;}


.z5-table table tr.bb td, .z5-table table tr.bb th {
    /*border-top: 1px solid black !important;*/
}
