body{font-family:Arial, Helvetica, sans-serif; font-size:13px; line-height:22px; color:#3c3835;background:#fff;}
/* Typography */
h1{font-size:14px; margin:0 0 10px 0; padding:0; text-transform:uppercase;  margin-bottom: 25px;}
h2{font-size:34px; margin:0 0 10px 0; padding:0; margin-bottom: 20px;}
h3{font-size:21px; margin:0 0 10px 0; padding:0; margin-bottom: 15px;}
h4{font-size:16px; margin:0 0 10px 0; padding:0; margin-bottom: 10px;}

.text-center{text-align: center;}
.col-md-6{width: 48%;  padding-right: 10px;}
.graph1{width:550px;height: 350px; }
.graph1-label{width: auto; margin-top: 25px;}

span.label-title{font-size: 12px; text-transform: uppercase; display: block; margin-bottom: 10px; position: relative; top:-5px;}
span.label-value{font-size: 18px;}
span.label-unit{text-transform: uppercase; position: relative; top: -4px; font-size: 12px; padding-left: 2px;}
.graph1-label{position: relative; padding-left: 35px;}
.graph1-label .legend{position: absolute; left: 0; width: 25px; margin-top: 20px;}
.legend-red, .legend-gray, .legend-blue{height: 5px; line-height: 2px; font-size: 1px;}
.legend-red{background:#ff0000;}
.legend-blue{background:#044f96;}
.legend-gray{background:#ccc;}

.container, .col-md-12{clear: both; display: block;}
h6.has-filter{width: 100%;}
img.heading-icon{width:35px; margin-right:10px;}
.z5-table table{width: 100%; border-collapse: collapse;}
.z5-table table th{border-bottom: 1px solid #999;}
.z5-table table td{ border-bottom: 1px solid #ccc;}

ul.bulb-lists{margin:0 0 0 22px; padding: 0;}

/* Fixers */
.clearfix{clear:both;}
.txt-right{text-align:right;}
.txt-bold{font-weight: bold; font-size: 14px;}
.m15{margin:15px;}
.m150{margin:15px 0;}
.m015{margin:0 15px;}
.mt15{margin-top:15px;}
.mt25{margin-top:25px;}
.mt35{margin-top:35px;}
.mb15{margin-bottom:15px;}
.mt15{margin-top:15px;}
.mb25{margin-bottom:25px;}
.mb35{margin-bottom:35px;}
.p0{padding:0;}
.p15{padding:15px;}
.p150{padding:15px 0;}
.p015{padding:0 15px;}
.pt15{padding-top:15px;}
.pb15{padding-bottom:15px;}
.border-lr{border-left:1px solid #ccc; border-right:1px solid #ccc;}
.border-r{border-right:1px solid #ccc;}
.border-l{border-left:1px solid #ccc;}
.border-b{border-bottom:1px solid #ccc;}
.border-t{border-top:1px solid #ccc;}
.iconRmargin{margin-right:5px;}
.iconLRmargin{margin-right:5px; margin-left:5px;}
.hr,.sep-border{border-bottom: 1px solid #ccc; margin-bottom: 15px;}
.print-header{ margin-bottom: 25px; border-bottom: 1px solid #ccc; padding-bottom: 20px;}

