<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
      <div class="col-md-4">
            <strong>Mara Risk</strong>
            <div id="maraRisk">helooo</div>
        </div>

        <div class="col-md-4">
            <strong style='text-transform:capitalize'>HS Risk</strong>
            <div id="hsRisk"></div>
        </div>
        <div class="col-md-4" >
        </div>

<script src="https://d3js.org/d3.v4.min.js"></script>
<script language="javascript" type="text/javascript" src="${resource(dir: 'js/dash', file: 'sankey.js')}"></script>

<script>

    %{--console.log(${riskData['areas_9']});--}%
    %{--console.log($.type(${riskData['areas_9']}));--}%

    %{--renderSankeys(${riskData['areas_9']['MARA_RISK_LEVEL']['reporting']}, 'maraRisk',${riskData['areas_9'].years} , ${riskData['areas_9'].levels})--}%

//    function renderSankeys(data,id,yearsMain,levels){
//
//        var colores_g = {"High":"#DC3912","Medium":"#FF7F0E", "Normal":"#E7BA52","Low":"#2CA02C"};
//
//        var data1=data;
//        var units = "Member";
//
//        var col=new Object();
//
//
//        $.each(levels.sort(custom_sort),function(ind,val) {
//                    col[val]=colores_g[val];
//                }
//        );
//
//
//
//
//        var margin = {top: 50, right: 60, bottom: 50, left: 20},
//                width = 800 - margin.left - margin.right,
//                height = 400 - margin.top - margin.bottom;
//
//        var formatNumber = d3.format(",.0f"),    // zero decimal places
//                format = function(d) { return formatNumber(d) + " " + units; };
//
//        var svg = d3.select("#"+id).append("svg")
//                .attr("width", width + margin.left + margin.right)
//                .attr("height", height + margin.top + margin.bottom)
//                .append("g")
//                .attr("transform",
//                "translate(" + margin.left + "," + margin.top + ")");
//
//        var sankey = d3.sankey()
//                .nodeWidth(26)
//                .nodePadding(40)
//                .size([width, height]);
//
//        var path = sankey.link();
//
//        graph=data1;
//        sankey
//                .nodes(graph.nodes)
//                .links(graph.links)
//                .layout(32);
//
//        var link = svg.append("g").selectAll(".linkNodes")
//                .data(graph.links)
//                .enter().append("g").attr("class", "linkNodes")
//
//
//        link.append("path")
//                .attr("class", "link")
//                .style("stroke", function(d) {
//                    return col[d.source.name]
//                })
//                .attr("d", path)
//                .style("stroke-width", function(d) { return Math.max(0, d.dy); })
//
//        link.append("title")
//                .text(function(d) {
//                    return d.source.name + " → " +
//                            d.target.name + "\n" + format(d.value); });
//
//        var node = svg.append("g").selectAll(".node")
//                .data(graph.nodes)
//                .enter().append("g")
//                .attr("class", "node")
//                .attr("transform", function(d) {
//                    return "translate(" + d.x + "," + d.y + ")"; });
//
//
//        node
//                .append("rect")
//                .attr("height", function(d) {
//                    return d.dy; })
//                .attr("width", sankey.nodeWidth())
//                .style("fill", function(d) {
//                    return d.color = col[d.name];
////                     return d.color = color(d.name.replace(/ .*/, ""));
//                })
//                .style("stroke", function(d) {
//                    return d3.rgb(d.color).darker(2); })
//                .append("title")
//                .append("h6")
//                .text(function(d) {
//
//                    return "Total:\n" + format(d.value)+ "\nNewly Enrolled:\n" + format(d.total-d.sumvalue)+"\n" })
//
//
//        node.append("text")
//                .attr("x", -6)
//                .attr("y", function(d) { return d.dy / 2; })
//                .attr("dy", ".25em")
//                .attr("text-anchor", "end")
//                .attr("transform", null)
//                .attr("class","textClass")
//                .text(function(d) { return d.name; })
//                .filter(function(d) { return d.x < width / 2; })
//                .attr("x", 6 + sankey.nodeWidth())
//                .attr("text-anchor", "start")
//
//        var years=["last"," ","current"];
//
//
//        var nodess = svg.append("g").selectAll(".nodes")
////                 .data([graph.nodes[0],graph.nodes[3],graph.nodes[6]])
//                .data([2,349,696])
//                .enter().append("g").attr("class", "nodes").attr("transform", function(d) {
//                    return "translate(" + (d) + "," + 0 + ")"; })
//
//        nodess.append("text")
//                .attr("x", 26)
//                .attr("y", function(d) { return -30 ; })
//                .attr("dy", ".85em")
//                .attr("text-anchor", "end")
//                .attr("transform", null)
//                .attr("class","textClass1")
//                .text(function(d,i) {
//                    return yearsMain[years[i]];
//                })
//
//
//    }
</script>